div.main {
  height: 100vh;
  width: 100%;
}

div.main nav {
  height: 10%;
}

nav div.leftNavigation {
  width: 32%;
  height: 100%;
}

nav div.rightNavigation {
  width: 68%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.rightNavigation ul {
  transform: translateX(20%);
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10%;
}

.rightNavigation ul li {
  list-style-type: none;
  font-size: 17.7px;
  font-weight: 500;
  position: relative;
}

.rightNavigation ul li:hover {
  color: var(--color-highlight);
}

div.mainContainer,
div.main nav {
  display: flex;
}

div.mainContainer {
  height: 90%;
}

div.leftContainer {
  width: 32%;
  height: 100%;
}

div.rightContainer {
  height: 100%;
  width: 68%;
}

.rightNavigation a {
  text-decoration: none;
}

/* .................THEMES....................... */

.leftNavigation.dark {
  background-color: var(--main-color);
}

.leftContainer.dark {
  background-color: var(--main-color);
}

.leftNavigation.light {
  background-color: white;
}

.leftContainer.leftNavigation.light {
  background-color: white;
}

.rightNavigation.dark {
  background-color: var(--purple);
}

.rightNavigation.light {
  background-color: var(--mint);
}

.rightContainer.dark {
  background-color: var(--purple);
}

.rightContainer.light {
  background-color: var(--mint);
}

.rightNavigation.dark a {
  color: white;
}

.rightNavigation.light a {
  color: black;
}
