div.button {
  height: 70%;
  width: 290px;
  background-color: var(--color-btn);
  border-radius: 220px;
  border: 2px solid white;
  position: relative;
}

div.button:hover {
  cursor: pointer;
}

div.button span {
  width: 48%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.2s forwards;
}

@keyframes start {
  from {
    right: 47%;
  }

  to {
    right: 3%;
  }
}

@keyframes toggle {
  from {
    right: 3%;
  }

  to {
    right: 47%;
  }
}

div.button.on span {
  animation: toggle 0.2s forwards;
}
