div.section {
  width: 84%;
  margin: auto;
}

div.sectionHeading {
  padding-block: 30px;
  display: flex;
  align-items: center;
}

div.sectionHeading span {
  display: flex;
  margin-inline: 16px;
}

div.blogPosts {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5%;
}

.dark * {
  color: white;
}

.light * {
  color: var(--color-dark-no-swop);
}

