div.dark.speakingMain {
  background-color: var(--main-color) !important;
}

div.light.speakingMain {
  background-color: var(--color-sherbet);
}

div.speaking {
  padding-block: 150px;
}

div.wrapper {
  margin: auto;
  width: 90%;
  padding-inline: 10vh;
}

div.title {
  padding-block: 100px 0px;
}

div.title h1 {
  font-weight: 900;
}

.dark div.title {
  color: white;
}

.lightt div.title {
  color: var(--color-dark-no-swop);
}

/* ............................. */

@media (max-width: 800px) {
  div.speaking {
    padding-block: 20px;
  }

  div.wrapper {
    padding-inline: 10px;
  }
}
