div.talks {
  width: 100%;
  margin-top: 50px;
}

div.talksHeading {
  padding-block: 50px;
}

div.talksInner {
  display: flex;
}

div.tabs {
  width: 40%;
  height: 100%;
  margin-right: 1.5rem;
}

/* ..................................... */

.dark * {
  color: white;
}

/* ................................................ */

@media (max-width: 800px) {
  div.talksInner {
    flex-direction: column-reverse;
    gap: 5vh;
  }

  div.tabs {
    width: 100%;
    padding: 2vh;
  }
}
