div.speakingIntro {
  display: flex;
  gap: 20px;
  margin-bottom: 30vh;
}

div.speakingText {
  width: 40%;
}

div.speakingText h1 {
  font-size: 60px;
  margin-block: 20px;
}

div.speakingText p {
  margin-block: 20px;
  font-size: 18px;
}

div.speakingPhoto {
  width: 50%;
}

div.photo {
  min-width: 50%;
  max-width: 600px;
  height: 400px;
  position: absolute;
}

div.cssCamp {
  position: relative;
  width: fit-content;
  top: 1.2rem;
  z-index: 100;
  left: 1.8rem;
  padding: 0.5rem 1.25rem;
  font-size: 18px;
}

div.photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ................................. */

.dark div.photo {
  border: 2px solid white;
}

.light div.photo {
  border: 2px solid var(--color-article-logo);
}

.dark div.cssCamp {
  background-color: var(--color-dark);
  border: 2px solid white;
  box-shadow: 0.3rem 0.3rem 0 0 white;
}

.light div.cssCamp {
  background-color: white;
  color: var(--color-article-logo);
  border: 2px solid var(--color-dark-no-swop);
  box-shadow: 0.3rem 0.3rem 0 0 var(--color-dark-no-swop);
}

.dark {
  color: white;
}

.ligth {
  color: var(--color-dark-no-swop);
}

/* ...................................................... */

@media (max-width: 800px) {
  div.speakingIntro {
    flex-direction: column;
    height: 120vh;
  }

  div.speakingText,
  div.speakingPhoto {
    width: 100%;
  }
}
