div.footer {
  height: 100vh;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contact {
  width: 82%;
  height: 60%;
  display: flex;
}

div.contactLeft {
  width: 40%;
  padding-top: 5.8%;
  padding-left: 8%;
}

div.contactLeft h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

div.contactLeft p {
  font-size: 21px;
  line-height: 40px;
}

div.contactLeft p span {
  text-decoration: underline #774069;
  text-underline-offset: 5px;
  font-weight: 800;
}

div.contactRight {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.contactRight img {
  width: 80%;
  max-width: 800px;
}

div.footer.dark {
  background-color: var(--purple);
}

div.footer.light {
  background-color: var(--mint);
}

.dark div.contact {
  background-color: var(--main-color);
}

.light div.contact {
  background-color: white;
}

.dark .contactLeft {
  color: white;
}

.light .contactLeft {
  color: var(--color-dark-no-swop);
}

/* ................................ */

@media (max-width: 745px) {
  div.contact {
    flex-direction: column;
    width: 56%;
    height: 76%;
    transform: translateY(-6%);
    padding: 4%;
  }
  div.contactLeft {
    width: 100%;
    height: 50%;
  }

  div.contactRight {
    width: 100%;
    height: 50%;
  }

  div.contactLeft h1 {
    font-size: 21px;
  }

  div.contactLeft p {
    font-size: 18px;
    line-height: 1.8;
  }
}

@media (max-width: 400px) {
  div.contactLeft h1 {
    font-size: 18px;
  }

  div.contactLeft p {
    font-size: 15px;
  }
}
