div.card {
  display: flex;
  width: 100%;
  height: auto;
}

div.type {
  width: 20%;
}

div.type p {
  transform: rotate(-5deg);
  font-family: Pacifico;
  transform-origin: bottom left;
  font-size: 18px;
}

div.card h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

div.card p {
  font-size: 17px;
  line-height: 1.8;
  margin-block: 10px;
}

div.divider {
  width: 10%;
  height: 2px;
  margin-top: 20px;
  margin-right: 20px;
}

div.content {
  width: 70%;
}

.dark div.divider {
  background-color: white;
}

.light div.divider {
  background-color: var(--color-dark-no-swop);
}

.dark * {
  color: white;
}

.light * {
  color: var(--color-dark-no-swop);
}

div.card.dark h2 {
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    #784069 55%,
    #784069 90%,
    transparent 90%,
    transparent 100%
  );
}

div.card.light h2 {
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    var(--color-peach) 55%,
    var(--color-peach) 90%,
    transparent 90%,
    transparent 100%
  );
}

div.card h2 {
  display: inline;
  text-decoration: none;
  position: relative;
  background-repeat: no-repeat;
  background-size: 0% 90%;
}

div.card h2:hover {
  animation: animate 0.5s
    cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes animate {
  100% {
    background-size: 100% 90%;
  }
}
