div.wrapper {
  width: 88%;
  margin: auto;
  padding-inline: 10%;
  padding-bottom: 70px;
  padding-top: 170px;
}

div.dark.mainSpeaking {
  background-color: var(--color-dark);
}

div.light.mainSpeaking {
  background-color: var(--color-sherbet);
}

.dark {
  color: white;
}

.light {
  color: #404040;
}

.light a {
  color: #2c2a32;
}

@media (max-width: 970px) {
  div.wrapper {
    padding-inline: 4%;
    padding-bottom: 50px;
    padding-top: 30px;
  }
}
