nav {
  height: 13%;
  display: flex;
}

nav div.leftNavigation {
  width: 32%;
  height: 100%;
}

nav div.rightNavigation {
  width: 68%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.rightNavigation ul {
  height: 50px;
  display: flex;
  align-items: center;
  padding-inline: 10%;
  gap: 4%;
}

.rightNavigation ul li {
  list-style-type: none;
  font-size: 17.7px;
  font-weight: 500;
  position: relative;
}

.rightNavigation ul li:hover {
  color: var(--color-highlight);
}

.rightNavigation a {
  text-decoration: none;
}

/*.................................THEMES  */

.leftNavigation.dark {
  background-color: var(--main-color);
}
.leftNavigation.light {
  background-color: white;
}

.rightNavigation.home.dark {
  background-color: var(--purple);
}

.rightNavigation.home.light {
  background-color: var(--mint);
}

.rightNavigation.dark a {
  color: white;
}

.rightNavigation.light a {
  color: var(--color-dark-no-swop);
}
