div.iconContainer {
  height: 100%;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconContainer img {
  width: 30%;
  aspect-ratio: 1/1;
}

.iconContainer span {
  position: relative;
}

.iconContainer span.active::after {
  opacity: 1;
  filter: invert(1);
  position: absolute;
  content: '';
  bottom: -40%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1rem;
  background-image: url('../../../assets/line-decoration.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* ......... THEMES........... */

.iconContainer.dark img {
  filter: invert(1);
}

.iconContainer.dark span {
  color: white;
}

.iconContainer.light span {
  color: var(--color-dark-no-swop);
}
