nav {
  height: 13vh;
  display: flex;
}

nav div.leftNavigation {
  width: 32%;
  height: 100%;
}

nav div.rightNavigation {
  width: 68%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.rightNavigation ul {
  height: 50px;
  display: flex;
  align-items: center;
  padding-inline: 10%;
  gap: 4%;
}

.rightNavigation ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
}

.rightNavigation ul li:hover {
  background-clip: text;
  animation: 0.4s animateNavigation
    cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes animateNavigation {
  0% {
    color: white;
  }

  7% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #b1b1d8 10%,
      white
    );
  }

  14% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #b1b1d8 20%,
      white
    );
  }

  21% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #b1b1d8 30%,
      white
    );
  }

  28% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #b1b1d8 40%,
      white
    );
  }

  35% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 10% #b1b1d8 40%,
      white
    );
  }

  42% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 20% #b1b1d8 40%,
      white
    );
  }

  49% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 30% #b1b1d8 40%,
      white
    );
  }

  56% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 40% #b1b1d8 40%,
      white
    );
  }

  63% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 50%,
      #b1b1d8 40%,
      white
    );
  }

  70% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 60%,
      #b1b1d8
    );
  }

  77% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 70%,
      #b1b1d8
    );
  }

  85% {
    color: transparent;
    background-image: linear-gradient(
      to right white 80%,
      #b1b1d8
    );
  }

  92% {
    color: transparent;
    background-image: linear-gradient(
      to right,
      white 90%,
      #b1b1d8
    );
  }

  99% {
    color: white;
  }

  100% {
    color: white;
  }
}

.rightNavigation ul li::after {
  content: '';
  transition: 1s;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.rightNavigation ul li:hover::after {
  opacity: 1;
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 100%;
  height: 1rem;
  background-image: url('../../../assets/underline.svg');
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
}

.rightNavigation a {
  text-decoration: none;
}

.leftNavigation {
  padding-inline: 7%;
  display: flex;
  align-items: center;
}

.leftNavigation h4:hover {
  cursor: pointer;
}

.leftNavigation h4 {
  font-size: 40px;
  font-family: Pacifico;
}

/*.................................THEMES..................  */

.leftNavigation.dark {
  background-color: var(--main-color);
}
.leftNavigation.light {
  background-color: white;
}

.rightNavigation.home.dark {
  background-color: var(--purple);
}

.rightNavigation.dark {
  background-color: var(--main-color);
}

.rightNavigation.home.light {
  background-color: var(--mint);
}

.rightNavigation.light {
  background-color: white;
}

.rightNavigation.light.speaking {
  background-color: var(--color-sherbet);
}

.leftNavigation.light.speaking {
  background-color: var(--color-sherbet);
}

.rightNavigation.dark a {
  color: white;
}

.rightNavigation.light a {
  color: var(--color-dark-no-swop);
}

.leftNavigation.dark h4 {
  color: var(--color-highlight);
}

.leftNavigation.light h4 {
  color: var(--mint);
}
