div.button {
  margin-right: 7%;
  height: 34px;
  width: 60px;
  border-radius: 220px;
  position: relative;
}

div.button.dark {
  background-color: var(--color-btn);
  border: 2px solid white;
}

div.button.light {
  background: linear-gradient(to left, #bff0fc, white);
}

div.button:hover {
  cursor: pointer;
}

div.button::after {
  position: absolute;
  content: '';
  top: 50%;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

div.button.dark::after {
  right: 3%;
  background-image: url('../../../assets/moon.svg');
  background-color: white;
  border: 0.1rem solid grey;
  transform: translate(0%, -50%);
}

div.button.light::after {
  left: 3%;
  background: linear-gradient(
    130deg,
    #ffc851 0,
    #fff0a4 45%,
    #ffc851 45%,
    #fcb045 100%
  );
  border: 0.1rem solid #ff9b04;
  transform: translate(0%, -50%);
}

div.button.dark.animate::after {
  animation: leftToRight 0.2s forwards ease-in-out;
}

div.button.light.animate::after {
  animation: rightToLeft 0.2s forwards ease-in-out;
}

@keyframes rightToLeft {
  from {
    transform: translate(0%, -50%) rotate(0deg);
    background-image: url('../../../assets/moon.svg');
  }

  to {
    transform: translate(-10%, -50%) rotate(180deg);
    background: linear-gradient(
      130deg,
      #ffc851 0,
      #fff0a4 45%,
      #ffc851 45%,
      #fcb045 100%
    );
    border: 0.1rem solid #ff9b04;
  }
}

@keyframes leftToRight {
  from {
    transform: translate(-10%, -50%) rotate(180deg);
    background: linear-gradient(
      130deg,
      #ffc851 0,
      #fff0a4 45%,
      #ffc851 45%,
      #fcb045 100%
    );
    border: 0.1rem solid #ff9b04;
  }

  to {
    transform: translate(0%, -50%) rotate(0deg);
    background-image: url('../../../assets/moon.svg');
  }
}
