div.post {
  width: 432px;
  border-radius: 20px;
  position: absolute;
}

div.post:first-of-type {
  left: 0;
}

div.post:nth-of-type(2) {
  right: -5%;
  top: 5%;
}

div.post:nth-of-type(3) {
  right: 7%;
  bottom: 0%;
}

div.post:hover {
  cursor: grab;
}

div.post p {
  line-height: 1.8;
}

div.post .divider {
  height: 36px;
  width: 100%;
}

div.divider span {
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  padding-inline: 12px;
}

div.divider span img {
  width: 100%;
  height: 50%;
}

div.postBody {
  padding: 20px;
}

div.postBody > a {
  display: inline;
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 1px;
  margin-block: 13px;
  line-height: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 0% 90%;
}

div.postBody > a:hover {
  animation: animate 0.5s
    cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes animate {
  100% {
    background-size: 100% 90%;
  }
}

div.postBody p {
  margin-top: 20px;
}

div.postBody footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

div.postBody footer a {
  font-size: 16px;
  color: white;
  font-weight: 500;
  border: 1px solid transparent;
}

div.postBody footer a:nth-child(2) {
  position: relative;
  padding-right: 1.4rem;
}

div.postBody footer a:nth-child(2)::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10' aria-hidden='true'%3E%3Cpath fill='%23404040' d='M1 4h11.59l-2.3-2.29A1 1 0 0111.71.29l4 4a1 1 0 010 1.41l-4 4a1 1 0 01-1.41-1.41L12.59 6H1a1 1 0 010-2z'/%3E%3C/svg%3E");
  right: 0;
  top: 0;
  height: 100%;
  width: 1rem;
  background-repeat: no-repeat;
  background-position: 0 50%;
  transition: ease-out 0.2s;
}

div.postBody footer a:nth-child(2):hover::after {
  transform: translateX(40%);
}

div.dark.post {
  border: 1px solid white;
  color: white;
}

.dark div.divider {
  border-bottom: 2.6px solid white;
}

.dark div.postBody > a {
  color: white;
}

div.post.light {
  border: 1px solid #404040;
  background-color: white;
}

.light div.postBody a {
  color: #404040 !important;
}

.light div.divider {
  border-bottom: 2.6px solid #404040;
}

.dark div.divider span img {
  filter: invert(1) brightness(1.3);
}

.dark footer a:first-child:hover {
  border-bottom: 1px solid #774069;
}

.light footer a:first-child:hover {
  border-bottom: 1px solid #f4d1cf;
}

.dark footer a:nth-child(2)::after {
  filter: invert(1);
}

.light div.postBody p {
  color: var(--color-dark-no-swop);
}

.dark div.postBody > a {
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    #784069 55%,
    #784069 90%,
    transparent 90%,
    transparent 100%
  );
}

.light div.postBody > a {
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    var(--color-peach) 55%,
    var(--color-peach) 90%,
    transparent 90%,
    transparent 100%
  );
}
