div.writing {
  height: 998px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.posts {
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
}

div.posts h1 {
  font-size: 56px;
  margin-block: 22px;
  letter-spacing: 2px;
}

div.writing.dark {
  background-color: var(--color-lilac);
}

div.writing.light {
  background-color: var(--color-lilac-2);
}

/* ............................................................... */

div.posts.dark h1 {
  color: white;
}

div.posts.light h1 {
  color: #404040;
}

/* ................................... */

@media (max-width: 800px) {
  div.writing {
    padding-block: 100px;
    height: fit-content;
    position: static;
  }

  div.posts {
    align-items: center;
    width: 80%;
    flex-direction: column;
    gap: 40px;
    height: 84%;
    width: 90%;
  }
}
