div.writing {
  min-height: 100vh;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.posts {
  height: 70%;
  width: 64%;
  margin: auto;
  position: relative;
}

div.posts h1 {
  font-size: 56px;
  margin-block: 22px;
  letter-spacing: 2px;
}

div.writing.dark {
  background-color: var(--color-lilac);
}

div.writing.light {
  background-color: var(--color-lilac-2);
}

/* ............................................................... */

div.posts.dark h1 {
  color: white;
}

div.posts.light h1 {
  color: #404040;
}
