div.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.header,
div.header2 {
  min-height: 80vh;
  width: 100%;
}

div.header::before {
  position: absolute;
  content: '';
  background-image: url('../../assets//dots-background.svg');
  background-repeat: no-repeat;
  top: 23%;
  left: 17%;
  width: 343px;
  height: 250px;
  z-index: 0;
}

div.header::after {
  position: absolute;
  content: '';
  width: 18vw;
  height: 18vw;
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  right: 18%;
  bottom: 15%;
}

div.header2::after {
  position: absolute;
  content: '';
  width: 18vw;
  height: 18vw;
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  right: 17%;
  bottom: 17%;
}

div.logoDiv {
  margin: auto;
  z-index: 1000;
  width: 756px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div.logoDiv.article {
  height: 301px;
}

.writing div.logoInner {
  padding-block: 20px;
}

div.logoInner {
  height: 60%;
  width: 90%;
  display: flex;
  gap: 10px;
}

div.logoHeading {
  height: 100%;
}

div.logoHeading.article {
  width: 60%;
}

div.logoHeading.writing h1 {
  display: inline;
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    var(--color-peach) 55%,
    var(--color-peach) 90%,
    transparent 90%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  animation: underline 0.5s 1s
    cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes underline {
  100% {
    background-size: 8rem 100%;
  }
}

div.logoHeading.writing {
  width: 100%;
  padding-right: 100px;
  font-size: 18px;
  line-height: 1.8;
  padding-block: 40px;
}

div.logoHeading.writing p {
  margin-top: 14px;
  font-size: 20px;
}

div.logoHeading h1 {
  font-size: 40px;
  line-height: 1.2;
}

div.logoSummary {
  height: 100%;
  width: 40%;
  padding-top: 20px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20%;
  position: relative;
  z-index: 1;
}

div.logoSummary::before {
  position: absolute;
  content: '';
  width: 4rem;
  height: 170%;
  left: 0;
  top: 0;
}

div.logoSummary div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  z-index: 2;
}

div.logoSummary div img {
  width: 2rem;
  aspect-ratio: 1/1;
}

div.logoSummary div p:first-of-type {
  padding-left: 32px;
  font-weight: 500;
}

div.logoSummary p {
  font-weight: 600 !important;
}

/* .................... */

.dark div.logoDiv {
  box-shadow: 1rem 1rem 0 0 white;
  border: 3px solid white;
}

.light div.logoDiv {
  box-shadow: 1rem 1rem 0 0 var(--color-dark-no-swop);
  border: 3px solid var(--color-dark-no-swop);
}

.dark div.logoInner h1 {
  color: white;
}

.light div.logoInner h1 {
  color: var(--color-dark-no-swop);
}

.dark div.logoSummary::before {
  border: 2px solid white;
  background-color: var(--color-lilac);
}

.light div.logoSummary::before {
  border: 2px solid var(--color-dark-no-swop);
  background-color: var(--color-lilac-2);
}

.dark div.logoSummary div {
  color: white;
}

.light div.logoSummary div {
  color: var(--color-dark-no-swop);
}

.dark div.logoSummary div img {
  filter: invert(1);
}

.light div.logoSummary div img {
  color: var(--color-dark-no-swop);
  opacity: 0.6;
}

div.header.dark::before {
  filter: invert(1);
}

div.header.dark::after {
  border: 3px solid white;
}

div.header.light::after {
  border: 3px solid var(--color-dark-no-swop);
}

.dark div.header2::after {
  background-color: var(--purple);
}

.light div.header2::after {
  background-color: var(--mint);
}

.dark div.logoDiv {
  background-color: var(--color-article-logo);
}

.light div.logoDiv {
  background-color: white;
}

.dark * {
  color: white;
}

.light * {
  color: var(--color-dark-no-swop);
}

div.light.header {
  background-color: white;
}
