div.profileMain.dark {
  background-color: var(--main-color);
  color: white;
}

div.profileMain.light {
  background-color: white;
}

div.profileMain {
  height: 100vh;
  padding: 1% 10%;
}

div.username {
  margin-block: 3%;
}

div.profile {
  display: flex;
  height: 50vh;
}

.dark div.profile {
  color: #242424;
}

/* div.profileLeft {
  width: 70%;
  height: 100%;
}

.dark div.tabs {
  color: white;
}

div.tabs {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

div.tab {
  border-bottom: 1px solid blue;
}

div.homeMain {
  padding: 4% 2%;
} */
