div.profileMain.dark {
  background-color: var(--main-color);
  color: white;
}

div.profileMain.light {
  background-color: white;
}

div.profileMain {
  height: 100vh;
  padding: 1% 10%;
}

div.username {
  margin-block: 3%;
}

div.profile {
  display: flex;
  height: 50vh;
}

.dark div.profile {
  color: #242424;
}

div.profileLeft {
  width: 70%;
  height: 100%;
}

.dark div.tabs {
  color: white;
}

div.tabs {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

div.tab {
  border-bottom: 1px solid blue;
}

div.homeMain {
  padding: 4% 2%;
}

div.readingList {
  width: 90%;
  height: 140px;
  padding-left: 4%;
  background-color: #f2f2f2;
  display: flex;
  border-radius: 3.2px;
  border: 1px solid #e3e3e3;
}

div.readingListLeft {
  padding-block: 1.7%;
  width: 50%;
  height: 100%;
}

div.articles {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
}

div.articles div {
  height: 100%;
  width: 50%;
  background-color: #e3e3e3;
  position: absolute;
}

div.articles div:first-of-type {
  left: 0;
  z-index: 300;
  border-right: 3px solid #f9f9f9;
}

div.articles div:nth-of-type(2) {
  left: 33%;
  z-index: 200;
  border-right: 3px solid #f9f9f9;
}

div.articles div:nth-of-type(3) {
  right: 0;
  z-index: 100;
}

div.articles div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div.userImg {
  display: flex;
  align-items: center;
  gap: 20px;
}

div.userImg img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
}

div.userImg p {
  font-size: 18px;
}

div.reading {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}

div.reading h3 {
  font-size: 22px;
}

div.reading svg {
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #6b6b6b;
}

div.reading svg:hover {
  cursor: pointer;
  color: black;
}

div.profileRight {
  height: 100%;
  width: 30%;
}
