@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Catamaran&family=Pacifico:wght@400;500&display=swap');

:root {
  --main-color: #29272a;
  --purple: #774069;
  --mint: #6fdcbf;
  --color-highlight: #b1b1d8;
  --color-dark-no-swop: #404040;
  --color-btn: #adadb3;
  --color-lilac: #4c3a69;
  --color-lilac-2: #ae8fdb;
  --color-sherbet: #fef8b4;
  --color-article-logo: #262528;
  --color-dark: #2c2a32;
  --color-rose: #dc849b;
  --color-marshmellow: #d695b6;
  --color-peach: #f2c3c0;
  --color-highlight: #b1b1d8;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

li:hover,
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
