@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --main-color: #29272a;
  --mint-color: #774069;
  --color-highlight: #b1b1d8;
  --color-dark-no-swop: #404040;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

li:hover,
button:hover {
  cursor: pointer;
}
